<form
  class=" form -vertical confirm-form-submit--modal password-confirm-dialog--modal loading-indicator--location"
  data-indicator-name="modal"
  (submit)="confirmAndClose($event)"
>
  <div class="Overlay-header Overlay-header--large Overlay-header--divided">
    <div class="Overlay-headerContentWrap">
      <div class="Overlay-titleWrap">
        <h1 id="spotModalTitle" class="Overlay-title">{{text.title}}</h1>
      </div>
    </div>
  </div>
  
  <div class="Overlay-body form">
    <div class="form--field -required">
      <label class="form--label -bold"
             for="request_for_confirmation_password"
             [attr.aria-label]="additionalText.field_description"
             [textContent]="additionalText.password">
      </label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input type="password"
                 #passwordConfirmationField
                 [(ngModel)]="password_confirmation"
                 id="request_for_confirmation_password"
                 name="request_for_confirmation_password"
                 class="form--text-field">
        </div>
      </div>
      <div class="form--field-instructions" [textContent]="additionalText.field_description"></div>
    </div>
  </div>

  <div class="Overlay-footer Overlay-footer--alignEnd">
    <button
      type="button"
      class="Button Button--secondary Button--medium"
      [textContent]="additionalText.cancel_button"
      (click)="closeMe()"
      >
    </button>
    <button
      type="submit"
      class="Button Button--primary Button--medium"
      [textContent]="additionalText.confirm_button"
      data-test-selector="confirmation-modal--confirmed"
      [disabled]="!passwordValuePresent()">
    </button>
  </div>
 </form>
